/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 156px 0 100px;
  height: 500px;
}

section {
  padding: 150px 0;
}

img {
  border-radius: 25px;
  opacity: 0.3;
}

.bg-img {
  background-image: url(../img/home.jpg);
}

.bg-color {
  background-image: linear-gradient( to right, black,transparent);
}

.img-size{
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 5px grey;
}

.abt-img-size{
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 5px grey;
}

@media only screen and (min-width:768px){
  .imgDes {
  margin-left: 180px;
  overflow: hidden;
  text-align: left;
  }
  .abt-img-size{
    width: 500px;
    height: 450px;
  }

}

.lead {
  color: darkred;
  font-size: 1.75rem;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 5px;
}

.abt-img {
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255,255,255,0.85)), url(../img/about.jpg);
}
.opaq{
  opacity: 0.5;
}
.img-responsive {
  max-height: 72px;
  max-width: 250px;
}

.mrg{
  margin-bottom: 100px;
  margin-top: 100px;
}

h4{
  text-shadow: 2px 2px 5px grey;
}

.abt-font {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 5px grey;
}

.hdrFont {
  font-style: italic;
  font-size: -webkit-xxx-large;
  text-shadow: 2px 2px 5px grey;
  margin-top:-80px; 
  margin-bottom: 20px;  
  text-align: center
}